# lesson01
# lesson02/
lesson02/Lesson02-additionalpractice.ipynb
lesson03/
lesson04/
lesson05/
lesson06/
lesson07/
lesson08/
lesson09/
lesson10/
lesson11/
lesson12/
lesson13/
lesson14/
lesson15/
lesson16/
lesson17/
lesson18/
lesson19/
lesson20/
2020-spring/
*.pdf
*.gz
*.tex
*-notes.ipynb
.ipynb_checkpoints/
*.html